{% extends 'hp.html' %}

{% block override %}

    <div id="map" class="text-center">

        <h2> This is where the map is going to be. </h2>

    </div>

{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--{% load static %}-->

<!--<link rel="stylesheet" type="text/css" href="{% static 'features/home_page_style.css' %}">-->


<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Shotokan Karate Bangladesh</title>-->
<!--</head>-->

<!--<body>-->

<!--    <div id="container">-->

<!--        <div id="header">-->

<!--            <h1>-->

<!--                This is the official website of Shotokan Karate Bangladesh.-->

<!--            </h1>-->

<!--        </div>-->

<!--        <div id="content">-->
<!--            <div class="btn-group", id="button_group", align="center">-->

<!--                <a href="view_schedule/" > <button> Schedule </button> <a/>-->
<!--                <a href="view_syllabus/" > <button> Syllabus </button> <a/>-->
<!--                <a href="view_records/" > <button> Records </button> <a/>-->
<!--                <a href="view_achievements/" > <button> Achievements </button> <a/>-->
<!--                <a href="view_gallery/" > <button> Gallery </button> <a/>-->
<!--                <a href="view_contact/" > <button> Contact </button> <a/>-->
<!--                <a href="about/" > <button> About Us </button> <a/>-->
<!--        &lt;!&ndash;        <a href="/" > <button>  </button> <a/>&ndash;&gt;-->
<!--        &lt;!&ndash;        <a href="/" > <button>  </button> <a/>&ndash;&gt;-->
<!--            </div>-->

<!--        </div>-->

<!--            <div id="map">-->
<!--                <h2> This is where the map is going to be. </h2>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div id="footer">-->

<!--            Copyright &copy; 2019 Mohammad Joshim Uddin and Kamruzzaman Tauhid.-->

<!--        </div>-->

<!--    <section>-->

<!--        <div class="btn-group", id="button_group">-->

<!--            <a href="view_schedule/" > <button> Schedule </button> <a/>-->
<!--            <a href="view_syllabus/" > <button> Syllabus </button> <a/>-->
<!--            <a href="view_records/" > <button> Records </button> <a/>-->
<!--            <a href="view_achievements/" > <button> Achievements </button> <a/>-->
<!--            <a href="view_gallery/" > <button> Gallery </button> <a/>-->
<!--            <a href="view_contact/" > <button> Contact </button> <a/>-->
<!--            <a href="about/" > <button> About Us </button> <a/>-->
<!--    &lt;!&ndash;        <a href="/" > <button>  </button> <a/>&ndash;&gt;-->
<!--    &lt;!&ndash;        <a href="/" > <button>  </button> <a/>&ndash;&gt;-->

<!--        </div>-->



<!--    </section>-->

<!--    </div>-->

<!--</body>-->


<!--</html>-->